.cascading-right {
    margin-right: -50px;
}

@media (max-width: 992px) {
    .cascading-right {
        margin-right: 0;
    }
}

.required-field:after {
    content: "*";
    color: red;
}

.disabled {
    pointer-events: none;
    cursor: default;
}