<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          rel="stylesheet"/>
    <title>Classes - Edux</title>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/header :: header}"></header>
<main>
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0">
                            <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Dashboard</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Classes</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <button class="btn btn-primary btn-success mb-4" data-bs-target="#addClass" data-bs-toggle="modal"
                    type="button">
                Add new class
            </button>
            <div aria-hidden="true" aria-labelledby="addClassLabel" class="modal fade" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 id="addClass" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addClassLabel">Add new class</h5>
                            <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" th:action="@{/admin/addNewClass}" th:object="${eduxClass}">
                                <div class="mb-3">
                                    <label class="form-label" for="className">Class name</label>
                                    <input class="form-control" id="className" name="className"
                                           placeholder="Enter class name..." required th:field="*{name}">
                                </div>
                                <button class="btn btn-primary btn-success" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Class ID</th>
                        <th scope="col">Class Name</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="eduxClass : ${eduxClasses}">
                        <td th:text="${eduxClass.classId}"></td>
                        <td th:text="${eduxClass.name}"></td>
                        <td><a class="btn btn-info btn-sm"
                               th:href="@{/admin/displayStudents(classId=${eduxClass.classId})}">View details</a>
                        </td>
                        <td><a class="btn btn-danger btn-sm"
                               th:href="@{/admin/deleteClass(id=${eduxClass.classId})}">Delete class</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center my-4">
                <a class="btn btn-primary" th:href="@{/dashboard}">Back to Dashboard</a>
            </div>
        </div>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>