<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Edux :: Footer</title>
</head>
<body>
<footer class="mt-auto text-center text-lg-start bg-body-tertiary text-muted">
    <section class="border-top">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-school me-3"></i>Edux
                    </h6>
                    <p>Our mission is to provide the best education for everyone.</p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Quick Links</h6>
                    <p>
                        <a class="text-reset" th:href="@{/home}">Home</a>
                    </p>
                    <p>
                        <a class="text-reset" th:href="@{/courses}">Courses</a>
                    </p>
                    <p>
                        <a class="text-reset" th:href="@{/contact}">Contact</a>
                    </p>
                    <p>
                        <a class="text-reset" th:href="@{/holidays}">Holidays</a>
                    </p>
                    <p>
                        <a class="text-reset" th:href="@{/about}">About</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Warsaw, Poland</p>
                    <p><i class="fas fa-envelope me-3"></i><a class="text-reset" href="#">info@edux.com</a></p>
                    <p><i class="fas fa-phone me-3"></i><a class="text-reset" href="#">+123 456 7890</a></p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        &copy; 2024 Copyright: Edux
    </div>
</footer>
</body>
</html>