<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
    <script defer src="assets/fontawesome/js/all.js"></script>
    <title>Edux - About</title>
</head>
<body>
<div th:replace="header :: header"></div>
<section class="py-3 my-3 text-center">
    <div class="text-center mb-2">
        <h5>OUR TEAM</h5>
        <h2>Meet our Teachers</h2>
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center">
            <div class="card m-3" style="width: 24rem;">
                <img alt="" class="card-img-top" src="assets/images/teacher-01.jpg" style="height: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Lesa Castilla</h5>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
            </div>
            <div class="card m-3" style="width: 24rem;">
                <img alt="" class="card-img-top" src="assets/images/teacher-02.jpg" style="height: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Reginald Corner</h5>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
            </div>
            <div class="card m-3" style="width: 24rem;">
                <img alt="" class="card-img-top" src="assets/images/teacher-03.jpg" style="height: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Dave Scouller</h5>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
            </div>
            <div class="card m-3" style="width: 24rem;">
                <img alt="" class="card-img-top" src="assets/images/teacher-04.jpg" style="height: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Nikita Kristof</h5>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-linkedin"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-x-twitter"></i></a>
                    <a class="mx-2 fs-4" href="#"><i class="fa-brands fa-google-plus-g"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-3 my-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <img alt="" src="assets/images/people-group.jpg" style="height: 28rem;"/>

            </div>
            <div class="col my-auto">
                <h5>OUR ENVIRONMENT</h5>
                <h2>Clean and Safe Environment</h2>
                <p>We maintain the safest environment for both teachers and students by sanitizing the schools daily.
                    Enough
                    security is in place with the help of dedicated security team and cameras inside the campus.</p>
                <a class="btn btn-primary">Contact us</a>
            </div>
        </div>
    </div>
</section>
<div th:replace="footer :: footer"></div>

<script src="assets/js/color-mode.js"></script>

<script crossorigin="anonymous"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>