<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <title>About | Edux</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <hgroup>
        <h1>About Us</h1>
        <p>Get to Know Us Better</p>
    </hgroup>
    <section>
        <hgroup>
            <h2>Our Team</h2>
            <p>Meet Our Teachers</p>
        </hgroup>
        <div class="grid">
            <details th:each="teacher : ${teachers}">
                <summary role="button" th:text="${teacher.firstName} + ' ' + ${teacher.lastName}"></summary>
                <article>
                    <p th:text="${teacher.summary}"></p>
                    <p>Email: <a href="#" th:text="${teacher.email}"></a></p>
                </article>
            </details>
        </div>
    </section>
    <section>
        <hgroup>
            <h2>Our Environment</h2>
            <p>Clean and Safe Environment</p>
        </hgroup>
        <p>We maintain the safest environment for both teachers and students by sanitizing the school daily. Enough
            security is in place with the help of dedicated security team and cameras inside the campus.</p>
        <a href="#" role="button" th:href="@{/contact}" type="button">Contact Us</a>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/assets/js/theme-switcher.js"></script>
</body>
</html>