<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <script async src="/assets/js/all.js"></script>
    <title>Edux - Contact</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <hgroup>
        <h1>Contact Us</h1>
        <p>Get in touch</p>
    </hgroup>
    <ul>
        <li class="pico-color-red" th:each="error : ${#fields.errors('contact.*')}" th:text="${error}"></li>
    </ul>
    <!--/*@thymesVar id="contact" type="io.github.wkktoria.edux.model.Contact"*/-->
    <form action="/saveMessage" method="post" th:action="@{/saveMessage}" th:object="${contact}">
        <fieldset>
            <label>
                <input autocomplete="name" id="name" name="name" placeholder="Your name" th:field="*{name}">
            </label>
            <label>
                <input autocomplete="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone number"
                       th:field="*{phoneNumber}"
                       type="tel">
            </label>
            <label>
                <input autocomplete="email" id="email" name="email" placeholder="Email address" th:field="*{email}">
            </label>
            <label>
                <input id="subject" name="subject" placeholder="Subject" th:field="*{subject}">
            </label>
            <label>
                <textarea id="message" name="message" placeholder="Type your message" th:field="*{message}"></textarea>
            </label>
        </fieldset>
        <input type="submit" value="Send Message">
    </form>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>