<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          rel="stylesheet"/>
    <title>Courses | Edux</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <hgroup>
        <h1>Best Courses</h1>
        <p>Find the Right Course for You</p>
    </hgroup>
    <section>
        <article th:each="course : ${courses}">
            <h3 th:text="${course.name} + ' (' + ${course.fees} + ')'"></h3>
            <p th:if="${course.description != null}" th:text="${course.description}"></p>
            <p th:unless="${course.description != null}">No description.</p>
            <p>Students enrolled: <span th:text="${course.persons.size()}"></span> | <a href="#"
                                                                                        th:href="@{/contact}">Enroll
                today</a>.</p>
        </article>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>