<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <title>Courses | Edux</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <hgroup>
        <h1>Best Courses</h1>
        <p>Find the Right Course for You</p>
    </hgroup>
    <section>
        <article th:each="courseOffer : ${courseOffers}">
            <h3 th:text="${courseOffer.name}"></h3>
            <p>
                <span><strong th:text="${courseOffer.lessons}"></strong> lessons</span> |
                <span><strong th:text="${courseOffer.stars}"></strong> stars</span>
            </p>
            <p th:text="${courseOffer.description}"></p>
        </article>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/assets/js/theme-switcher.js"></script>
</body>
</html>