<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <title>Edux - Dashboard</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <hgroup>
        <h1 th:text="${'Welcome ' + username + '!'}"></h1>
        <p th:text="${'You logged in as: ' + roles}"></p>
    </hgroup>
    <ul role="group">
        <li>
            <a href="#" th:href="@{/displayProfile}">Profile</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" th:href="@{/displayMessages}">Messages</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" th:href="@{/admin/displayClasses}">Classes</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="#" th:href="@{/admin/displayCourses}">Courses</a>
        </li>
    </ul>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/assets/js/theme-switcher.js"></script>
</body>
</html>