<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edux</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/home}"><i class="fa-solid fa-graduation-cap"></i>Edux</a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                    data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/courses}">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact}">Contact</a>
                    </li>
                </ul>
                <div class="mode-switch">
                    <button class="btn btn-sm btn-default text-secondary" id="dark" title="Use dark mode">
                        <i class="fa-solid fa-moon"></i>
                    </button>
                    <button class="btn btn-sm btn-default text-secondary" id="light" title="Use light mode">
                        <i class="fa-solid fa-sun"></i>
                    </button>
                    <button class="btn btn-sm btn-default text-secondary" id="system" title="Use system preferred mode">
                        <i class="fa-solid fa-display"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>
</body>
</html>