<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <title>Holidays | Edux</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <h1>Holidays</h1>
    <ul role="group">
        <li>
            <a href="#" th:href="@{/holidays/all}">Show All</a>
        </li>
        <li>
            <a href="#" th:href="@{/holidays/festival}">Show Festival</a>
        </li>
        <li>
            <a href="#" th:href="@{/holidays/federal}">Show Federal</a>
        </li>
    </ul>
    <section th:if="${festival}">
        <h2>Festival Holidays</h2>
        <ul>
            <li th:each="holiday : ${FESTIVAL}">
                <strong th:text="${holiday.reason}"></strong>
                <small th:text="${holiday.day}"></small>
            </li>
        </ul>
    </section>
    <section th:if="${federal}">
        <h2>Federal Holidays</h2>
        <ul>
            <li th:each="holiday : ${FEDERAL}">
                <strong th:text="${holiday.reason}"></strong>
                <small th:text="${holiday.day}"></small>
            </li>
        </ul>
    </section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/assets/js/theme-switcher.js"></script>
</body>
</html>