<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          rel="stylesheet"/>
    <title>Edux</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="">
    <article>
        <h1>Everyone Deserves the Best Education</h1>
        <p>Active learning expert teachers and safe environments.</p>
        <a href="#" role="button" th:href="@{/contact}" type="button">Admission Now</a>
    </article>
    <section>
        <hgroup>
            <h2>Best Features</h2>
            <p>Achieve your goals with Edux</p>
        </hgroup>
        <ul>
            <li>
                <strong>Expert Teachers</strong>
                <small>Well experienced teachers for each subject. No common teacher for all subjects.</small>
            </li>
            <li>
                <strong>Quality Education</strong>
                <small>Best curriculum based on the Cambridge Primary framework.</small>
            </li>
            <li>
                <strong>Alumni Support</strong>
                <small>Lifetime alumni support through various channels available.</small>
            </li>
            <li>
                <strong>Best Scholarships</strong>
                <small>Easy scholarships for the low-income family students.</small>
            </li>
        </ul>
    </section>
    <article>
        <h2>We Are the Best Choice</h2>
        <p>With over 20 years of experience, the best teachers, world-class infrastructure, large alumni community, we
            are the best choice for the education.</p>
        <ul>
            <li>Special education</li>
            <li>Access more than 100K online courses</li>
            <li>Traditional academies</li>
        </ul>
        <a href="#" role="button" th:href="@{/contact}" type="button">Apply Now</a>
    </article>
    <section>
        <hgroup>
            <h2>Why Choose Us</h2>
            <p>Experienced Teachers and Safe Environment</p>
        </hgroup>
        <p>We provide <a href="#" th:href="@{/about}">expert teachers</a> and <a href="#" th:href="@{/about}">safe
            environment</a>.</p>
    </section>
    <section>
        <hgroup>
            <h2>Our Statistics</h2>
            <p>We Are Proud to Share with You</p>
        </hgroup>
        <ul>
            <li>
                <strong>2,458</strong>
                <small>current students</small>
            </li>
            <li>
                <strong>12</strong>
                <small>our branches</small>
            </li>
            <li>
                <strong>128</strong>
                <small>total courses</small>
            </li>
            <li>
                <strong>543</strong>
                <small>awards won</small>
            </li>
        </ul>
    </section>
    <section>
        <hgroup>
            <h2>Testimonials</h2>
            <p>Let's See What Our Students Say</p>
        </hgroup>
        <blockquote>
            “Loved the infrastructure and cleanly environment that school maintains.”
            <footer>
                <cite>— Vita Dilox</cite>
            </footer>
        </blockquote>
        <blockquote>
            “With the help of Cambridge authorized programs, teachers always enhance classroom experiences by applying
            new ideas and approaches.”
            <footer>
                <cite>— Cindy Iliffe</cite>
            </footer>
        </blockquote>
    </section>
    <section>
        <hgroup>
            <h2>Best Courses</h2>
            <p>Wide Variety of Courses</p>
        </hgroup>
        <div class="grid">
            <article th:each="topCourse : ${topCourses}">
                <h5 th:text="${topCourse.name} + ' (' + ${topCourse.fees} + ')'"></h5>
                <p th:if="${topCourse.description != null}" th:text="${topCourse.description}"></p>
                <p th:unless="${topCourse.description != null}">No description.</p>
                <p>Students enrolled: <span th:text="${topCourse.persons.size()}"></span> | <a href="#"
                                                                                               th:href="@{/contact}">Enroll
                    today</a>.</p>
            </article>
        </div>
        <a href="#" role="button" th:href="@{/courses}" type="button">Browse All Courses</a>
    </section>
    <article>
        <header>
            <h3>Call to Enroll</h3>
        </header>
        <p>Begin the change today! Call <a href="#">+123 456 7890</a>.</p>
        <a href="#" role="button" th:href="@{/contact}" type="button">Join for Free</a>
    </article>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
