<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <script async src="/assets/js/all.js"></script>
    <title>Edux - Login</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <h1>Login</h1>
    <form action="/login" method="post" th:action="@{/login}">
        <article th:if="${!#strings.isEmpty(message)}" th:text="${message}"></article>
        <fieldset>
            <label>
                <input autocomplete="username" id="username" name="username" placeholder="Username">
            </label>
            <label>
                <input autocomplete="current-password" id="password" name="password" placeholder="Password"
                       type="password">
            </label>
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        </fieldset>
        <input type="submit" value="Login">
    </form>
    <a href="#" th:href="@{/public/register}">New User?</a>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>