<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <script async src="/assets/js/all.js"></script>
    <title>Edux - Contact Messages</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <h1>Contact Messages</h1>
    <div class="overflow-auto">
        <table>
            <thead>
            <tr>
                <th scope="col">
                    <a href="#"
                       th:href="@{'/displayMessages/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">
                        Name &#8593;&#8595;
                    </a>
                </th>
                <th scope="col">
                    <a href="#"
                       th:href="@{'/displayMessages/page/' + ${currentPage} + '?sortField=phoneNumber&sortDir=' + ${reverseSortDir}}">
                        Phone Number &#8593;&#8595;
                    </a>
                </th>
                <th scope="col">
                    <a href="#"
                       th:href="@{'/displayMessages/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
                        Email &#8593;&#8595;
                    </a>
                </th>
                <th scope="col">
                    <a href="#"
                       th:href="@{'/displayMessages/page/' + ${currentPage} + '?sortField=subject&sortDir=' + ${reverseSortDir}}">
                        Subject &#8593;&#8595;
                    </a>
                </th>
                <th scope="col">
                    <a href="#"
                       th:href="@{'/displayMessages/page/' + ${currentPage} + '?sortField=message&sortDir=' + ${reverseSortDir}}">
                        Message &#8593;&#8595;
                    </a>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="message : ${contactMessages}">
                <td th:text="${message.name}"></td>
                <td th:text="${message.phoneNumber}"></td>
                <td th:text="${message.email}"></td>
                <td th:text="${message.subject}"></td>
                <td th:text="${message.message}"></td>
                <td><a class="pico-background-red" href="#" role="button"
                       th:href="@{/closeMessage(id=${message.contactId})}" type="button">CLOSE</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div role="group">
            <a aria-hidden="true"
               th:href="@{'/displayMessages/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
               th:if="${currentPage > 1}">&#8592;</a>
            <a aria-hidden="true" class="disabled" th:unless="${currentPage > 1}">&#8592;</a>
            <span th:each="page : ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{'/displayMessages/page/' + ${page} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                       th:if="${currentPage != page}">[[${page}]]</a>
                    <a aria-current="page" th:unless="${currentPage != page}">[[${page}]]</a>
                </span>
            <a aria-hidden="true"
               th:href="@{'/displayMessages/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
               th:if="${currentPage < totalPages}">&#8594;</a>
            <a aria-hidden="true" class="disabled" th:unless="${currentPage < totalPages}">&#8594;</a>
        </div>
    </div>
    <a href="#" th:href="@{/dashboard}">Back to Dashboard</a>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>