<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
          rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <title>Edux - Profile</title>
</head>
<body>
<header th:replace="~{fragments/header :: header}"></header>
<main class="container">
    <h1>My Profile</h1>
    <ul>
        <li class="pico-color-red" th:each="error : ${#fields.errors('profile.*')}" th:text="${error}"></li>
    </ul>
    <form action="#" method="post" th:action="@{/updateProfile}" th:object="${profile}">
        <fieldset>
            <legend>Personal Details</legend>
            <label class="required-field" for="name">Name:</label>
            <input autocomplete="name" id="name" name="name" th:field="*{name}">
            <label class="required-field" for="phoneNumber">Phone Number:</label>
            <input autocomplete="tel" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}">
            <label class="required-field" for="email">Email:</label>
            <input autocomplete="email" id="email" name="email" th:field="*{email}">
        </fieldset>
        <fieldset>
            <legend>Address Details</legend>
            <label class="required-field" for="address1">Address Line 1:</label>
            <input autocomplete="address-line1" id="address1" name="address1" th:field="*{address1}">
            <label for="address2">Address Line 2:</label>
            <input autocomplete="address-line2" id="address2" name="address2" th:field="*{address2}">
            <label class="required-field" for="city">City:</label>
            <input class="required-field" id="city" name="city" th:field="*{city}">
            <label for="state">State:</label>
            <input id="state" name="state" th:field="*{state}">
            <label class="required-field" for="zipCode">Zip Code:</label>
            <input autocomplete="postal-code" id="zipCode" name="zipCode" th:field="*{zipCode}">
            <label class="required-field" for="country">Country:</label>
            <input autocomplete="country-name" id="country" name="country" th:field="*{country}">
        </fieldset>
        <input class="pico-background-green" type="submit" value="Update Profile">
        <a th:href="@{/dashboard}">
            <button th:formaction="@{/dashboard}">Back to Dashboard</button>
        </a>
    </form>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>

<script src="/assets/js/theme-switcher.js"></script>
</body>
</html>